// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3229.dtsi"

/ {
	model = "Phicomm R1";
	compatible = "phicomm,r1", "rockchip,rk3229";

	aliases {
		mmc0 = &emmc;
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	/* The bundled Trust OS implements the PSCI 0.1 interface from the vendor DT. */
	psci {
		compatible = "arm,psci";
		method = "smc";
		cpu_suspend = <0x84000001>;
		cpu_off = <0x84000002>;
		cpu_on = <0x84000003>;
	};

	memory@60000000 {
		device_type = "memory";
		reg = <0x60000000 0x20000000>;
	};

	vcc_sys: regulator-vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&cpu1 {
	cpu-supply = <&vdd_arm>;
};

&cpu2 {
	cpu-supply = <&vdd_arm>;
};

&cpu3 {
	cpu-supply = <&vdd_arm>;
};

/*
 * Keep the CPU at the 600 MHz rate established by the vendor bootloader.
 * The upstream rk322x.dtsi assigns ARMCLK to 816 MHz independently of
 * cpufreq, which prevents cpufreq.off=1 from being a true 600 MHz test.
 */
&cru {
	assigned-clock-rates =
		<594000000>, <600000000>,
		<500000000>, <150000000>,
		<150000000>, <75000000>,
		<150000000>, <150000000>,
		<75000000>;
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	non-removable;
	vmmc-supply = <&vcc_33>;
	vqmmc-supply = <&vcc18_emmc>;
	status = "okay";
};

&i2c0 {
	clock-frequency = <400000>;
	status = "okay";

	rk805: pmic@18 {
		compatible = "rockchip,rk805";
		reg = <0x18>;
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PB4 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l>;
		system-power-controller;
		wakeup-source;
		#clock-cells = <0>;

		vcc1-supply = <&vcc_sys>;
		vcc2-supply = <&vcc_sys>;
		vcc3-supply = <&vcc_sys>;
		vcc4-supply = <&vcc_sys>;
		vcc5-supply = <&vcc_33>;
		vcc6-supply = <&vcc_33>;

		regulators {
			vdd_arm: DCDC_REG1 {
				regulator-name = "vdd_arm";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1450000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_logic: DCDC_REG2 {
				regulator-name = "vdd_logic";
				regulator-min-microvolt = <1050000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
			};

			vcc_33: DCDC_REG4 {
				regulator-name = "vcc_33";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vcc_18: LDO_REG1 {
				regulator-name = "vcc_18";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vcc18_emmc: LDO_REG2 {
				regulator-name = "vcc18_eMMC";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd10_pmu: LDO_REG3 {
				regulator-name = "vdd10_pmu";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};
};

&pinctrl {
	pmic {
		pmic_int_l: pmic-int-l {
			rockchip,pins = <1 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&uart2 {
	pinctrl-0 = <&uart21_xfer>;
	status = "okay";
};

/* Keep USB controller setup conservative until VBUS polarity is verified. */
&u2phy0 {
	status = "okay";

	u2phy0_otg: otg-port {
		status = "okay";
	};
};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};
